# Declare git attributes.
# See the following examples.
# https://github.com/gitattributes/gitattributes

# Default
* text=auto eol=lf

# Scripts
*.{mk,[mM][kK]} text eol=lf
*.{sh,[sS][hH]} text eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ps1,[pP][sS]1} text eol=crlf

# Images
*.png binary
*.jpg binary
*.svg binary
*.drawio binary
